@import "topbar.css";

.title {
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
    width: 100%;
}

img {
    width: 100%;
    height: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slide-counter {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 14px;
}

h1, h2 {
    color: #333;
}

.product-details {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
}

.product-details h2 {
    color: #333;
    margin-bottom: 10px;
}

.product-details span {
    display: block;
    color: #555;
    margin-bottom: 8px;
}

.sold-out-message {
    background-color: #d9534f; /* 품절 메시지 배경 색상 */
    color: #fff; /* 품절 메시지 텍스트 색상 */
    padding: 5px 10px; /* 품절 메시지 안쪽 여백 */
    border-radius: 5px; /* 품절 메시지 모서리 둥글게 만들기 */
    margin-top: 5px; /* 품절 메시지와 상품 정보 간의 간격 조정 */
}

.add-to-cart {
    text-align: center;
    margin-top: 20px;
}

.add-to-cart button {
    background-color: #4caf50; /* 초록 배경 색상 */
    color: white; /* 흰색 텍스트 색상 */
    padding: 10px 20px; /* 버튼 텍스트 주변 여백 */
    font-size: 16px; /* 버튼 텍스트의 글꼴 크기 */
    border: none; /* 테두리 없음 */
    border-radius: 5px; /* 둥근 모서리 */
    cursor: pointer; /* 호버 시 커서 스타일 */
    transition: background-color 0.3s; /* 호버 시 배경 색상 부드러운 전환 */
}

.add-to-cart button:hover {
    background-color: #45a049; /* 호버 시 더 어두운 초록 색상 */
}

.quantity-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.quantity-control button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.quantity-control input {
    width: 50px;
    text-align: center;
    font-size: 16px;
    margin: 0 10px;
}

.quantity-control button:hover {
    background-color: #45a049;
}