<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/items.css">
</head>
<body>
<div th:replace="~{fragment/topbar :: topbar}">
</div>
<div>
    <h1 class="title">상품 목록</h1>
</div>
<div class="search-bar">
    <form method="get">
        <input id="searchParam" type="text" placeholder="상품 검색" name="searchParam" minlength="1" th:value="${searchParam}"/>
        <button type="submit">검색</button>
    </form>
</div>
<div class="search-bar">
    <div id="sortForm">
        <select id="selectOption" name="sort">
            <option value="createdDate,desc">최신순</option>
            <option value="price,desc">높은 가격순</option>
            <option value="price,asc">낮은 가격순</option>
        </select>
    </div>
</div>
<div class="product-container">
    <div class="product-card" th:each="item : ${items}">
        <a th:href="@{'/items/'+${item.id}}">
            <div class="relative-size-image">
                <img th:src="${item.imagePath}" alt="Product 1">
            </div>
            <div class="product-info">
                <h2 th:text="${item.name}">상품 1</h2>
                <p class="item-price" th:text="${item.price}"></p>
                <p th:if="${item.soldOut}" class="sold-out-message">품절</p>
            </div>
        </a>
    </div>
</div>

<div class="load-more-container" th:unless="${isLast}">
    <button id="loadMoreButton">더보기</button>
    <input hidden id="nowPage" th:value="${nowPage}"/>
    <input hidden id="pageSize" th:value="${pageSize}">
</div>


<footer>
    <p>&copy; 2023 쇼핑몰. All rights reserved.</p>
</footer>
<script src="/js/bin/jquery.min.js"></script>
<script src="/js/items.js"></script>
</body>
</html>