<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 등록</title>
    <link rel="stylesheet" type="text/css" href="/css/upload-item.css">
</head>
<body>
<div th:replace="~{fragment/topbar :: topbar}"></div>
<form action="/items/new" method="post" enctype="multipart/form-data">
    <h2>상품 등록</h2>
    <label for="category">카테고리:</label>
    <select id="category" name="categoryId">
        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.title}"></option>
    </select>
    <br><br>

    <label for="name">상품명:</label>
    <input type="text" id="name" name="name" required><br><br>

    <label for="price">가격:</label>
    <input type="text" id="price" name="price" required><br><br>

    <label for="stock">재고량:</label>
    <input type="text" id="stock" name="stock" required><br><br>

    <label for="description">내용:</label><br>
    <textarea id="description" name="description" rows="4" cols="50" required></textarea><br><br>

    <ul>
        <label for="image1">이미지 1 (대표 이미지)</label>
        <li><input id="image1" type="file" accept="image/*" name="image1"/></li>
        <label for="image2">이미지 2</label>
        <li><input id="image2" type="file" accept="image/*" name="image2"/></li>
        <label for="image3">이미지 3</label>
        <li><input id="image3" type="file" accept="image/*" name="image3"/></li>
        <label for="image4">이미지 4</label>
        <li><input id="image4" type="file" accept="image/*" name="image4"/></li>
        <label for="image5">이미지 5</label>
        <li><input id="image5" type="file" accept="image/*" name="image5"/></li>
    </ul>

    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input type="submit" value="업로드">
</form>
</body>
</html>
